.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  box-shadow: 4px 7px 12px #888888;
}

.posts{
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.postHeading{
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.link{
  cursor: pointer;
}

.postTitle {
  font-size: 24px;
  font-weight: 700;
}

.postCat {
  font-size: 13px;
  color: #be9656;
  font-style: italic;
}

.postDate {
  font-style: italic;
  font-size: 13px;
  color: #999;
}

.postDesc {
  font-size: 15px;
  color: #444;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
